:root {
  --cinza-fundo: #f7f7f7;
  --cinza-texto: #c6c6c6;
  --vermelho: #ee2211;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cinza-fundo);
  margin: 0;
}

.cabecalho {
  max-width: 1000px;
  margin: 0px auto 40px auto;
  text-align: center;
}

.cabecalho > .titulo {
  width: 250px;
  margin: 40px;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}

a {
  /* CONFIG TODOS OS BOTOES */
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
}

a,
p {
  font-size: 1.3rem;
}

.menu a {
  background-color: white;
  color: black;
  border: 2px solid #ffffff00;
}

.menu a:hover {
  border: 2px solid var(--vermelho);
}

.container-principal {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.conteudo-bikcraft {
  background-color: white;
  place-content: center;
  justify-items: right;
  text-align: right;
  padding: 20px;
  position: relative;
}

.conteudo-bikcraft > h1::after {
  /* DETALHE */
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--vermelho);
  position: absolute;
  top: 30px;
  left: 502px;
}

.conteudo-bikcraft a {
  background-color: var(--vermelho);
  color: white;
}
.conteudo-bikcraft a:hover {
  background-color: #aa2211;
}

.foto-bikcraft {
  max-width: 100%;
}

/* SEGUNDA PARTE */

.titulo-vantagens {
  font-size: 5rem;
  padding: 20px;
  text-align: right;
  place-self: center;
  color: var(--cinza-texto);
  background-image: url(/img/onda.svg);
  background-size: 100%;
}

.vantagens {
  padding: 20px;
  background-color: white;
}

.vantagem-itens {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px;
  padding: 10px;
  border-left: 4px solid #ee221100;
}

.vantagem-itens:nth-child(even) {
  background-color: var(--cinza-fundo);
}

.vantagem-itens:hover {
  border-left: 4px solid var(--vermelho);
  transition: 0.2s;
}

.vantagem-itens:not(:last-child) {
  margin-bottom: 20px;
}

.vantagem-itens h3 {
  margin: 5px 0px;
}

.vantagem-itens p {
  grid-column: 2;
  margin: 0px;
}

.vantagem-itens img {
  padding: 5px;
  align-self: center;
}

footer {
  margin-top: 20px;
}

footer p {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 10px 0px;
}
