:root {
  --cinza-fundo: #f7f7f7;
  --cinza-texto: #c6c6c6;
  --vermelho: #ee2211;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cinza-fundo);
  margin: 0;
}

.cabecalho {
  max-width: 62rem;
  margin: 0px auto 2.5rem auto;
  text-align: center;
}

.cabecalho > .titulo {
  width: 15rem;
  margin: 2.5rem;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

a {
  /* CONFIG TODOS OS BOTOES */
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 4px;
}

a,
p {
  font-size: 1.3rem;
}

.menu a {
  background-color: white;
  color: black;
  border: 2px solid #ffffff00;
}

.menu a:hover {
  border: 2px solid var(--vermelho);
}

.container-principal {
  max-width: 62rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  position: relative;
}

.conteudo-bikcraft {
  background-color: white;
  place-content: center;
  justify-items: right;
  text-align: right;
  padding: 1.5rem;
}

.conteudo-bikcraft > h1::after {
  /* DETALHE */
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--vermelho);
  position: absolute;
  top: 1.8rem;
  left: 47.2%;
}

.conteudo-bikcraft a {
  background-color: var(--vermelho);
  color: white;
}
.conteudo-bikcraft a:hover {
  background-color: #aa2211;
}

.foto-bikcraft {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* SEGUNDA PARTE */

.titulo-vantagens {
  font-size: 4.5rem;
  text-align: right;
  place-self: center;
  color: var(--cinza-texto);
  background-image: url(./img/onda.svg);
  background-size: 100%;
  padding: 1.5rem;
}

.vantagens {
  padding: 1.5rem;
  background-color: white;
  margin: 0;
  list-style: none;
}

.vantagem-itens {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: start;
  gap: 1px;
  padding: 0.62rem;
  border-left: 4px solid #ee221100;
}

.vantagem-itens:nth-child(odd) {
  background-color: var(--cinza-fundo);
}

.vantagem-itens:hover {
  border-left: 4px solid var(--vermelho);
  transition: 0.2s;
}

.vantagem-itens:not(:last-child) {
  margin-bottom: 20px;
}

.vantagem-itens h3 {
  margin: 5px 0px;
}

.vantagem-itens p {
  grid-column: 2;
  margin: 0px;
}

.vantagem-itens img {
  padding: 0.31rem;
  align-self: center;
}

footer {
  margin-top: 40px;
}

footer p {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0.62rem 0px;
}

@media (max-width: 992px) {
  body:not(.rodape) {
    margin: 0 1.25rem;
  }
}

@media (max-width: 705px) {
  .container-principal {
    grid-template-columns: 1fr;
  }

  .menu {
    display: block;
  }
  .menu > li:not(:last-child) {
    margin-bottom: 5px;
  }

  .conteudo-bikcraft > h1::after {
    /* DETALHE */
    content: "";
    display: none;
  }

  .titulo-vantagens {
    text-align: left;
  }

  .conteudo-bikcraft {
    justify-items: left;
    text-align: left;
  }
}
